@{
    Layout = "_Layout";
}

<h1 class="text-center">You are Successfully LogOut!</h1>

<div class="text-center">
    <p class="lead">@TempData["You are successfully LogOut"]</p>
    <a href="@Url.Action("Index", "Course")" class="btn btn-primary">Go to Courses</a>
</div>
